CswLibrarySite/Web References/CswBookAPI/CswBookAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllBooksAsync">
        <s:complexType />
      </s:element>
      <s:element name="GetAllBooksAsyncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllBooksAsyncResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBooksByAuthorAsync">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pAuthorID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBooksByAuthorAsyncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBooksByAuthorAsyncResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBooksByCategoryAsync">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCategoryID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBooksByCategoryAsyncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBooksByCategoryAsyncResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllBooksAsyncSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllBooksAsync" />
  </wsdl:message>
  <wsdl:message name="GetAllBooksAsyncSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllBooksAsyncResponse" />
  </wsdl:message>
  <wsdl:message name="GetBooksByAuthorAsyncSoapIn">
    <wsdl:part name="parameters" element="tns:GetBooksByAuthorAsync" />
  </wsdl:message>
  <wsdl:message name="GetBooksByAuthorAsyncSoapOut">
    <wsdl:part name="parameters" element="tns:GetBooksByAuthorAsyncResponse" />
  </wsdl:message>
  <wsdl:message name="GetBooksByCategoryAsyncSoapIn">
    <wsdl:part name="parameters" element="tns:GetBooksByCategoryAsync" />
  </wsdl:message>
  <wsdl:message name="GetBooksByCategoryAsyncSoapOut">
    <wsdl:part name="parameters" element="tns:GetBooksByCategoryAsyncResponse" />
  </wsdl:message>
  <wsdl:portType name="CswBookAPISoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooksAsync">
      <wsdl:input message="tns:GetAllBooksAsyncSoapIn" />
      <wsdl:output message="tns:GetAllBooksAsyncSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksByAuthorAsync">
      <wsdl:input message="tns:GetBooksByAuthorAsyncSoapIn" />
      <wsdl:output message="tns:GetBooksByAuthorAsyncSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksByCategoryAsync">
      <wsdl:input message="tns:GetBooksByCategoryAsyncSoapIn" />
      <wsdl:output message="tns:GetBooksByCategoryAsyncSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CswBookAPISoap" type="tns:CswBookAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooksAsync">
      <soap:operation soapAction="http://tempuri.org/GetAllBooksAsync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByAuthorAsync">
      <soap:operation soapAction="http://tempuri.org/GetBooksByAuthorAsync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByCategoryAsync">
      <soap:operation soapAction="http://tempuri.org/GetBooksByCategoryAsync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CswBookAPISoap12" type="tns:CswBookAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooksAsync">
      <soap12:operation soapAction="http://tempuri.org/GetAllBooksAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByAuthorAsync">
      <soap12:operation soapAction="http://tempuri.org/GetBooksByAuthorAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksByCategoryAsync">
      <soap12:operation soapAction="http://tempuri.org/GetBooksByCategoryAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CswBookAPI">
    <wsdl:port name="CswBookAPISoap" binding="tns:CswBookAPISoap">
      <soap:address location="http://localhost:9000/Models/Books/CswBookAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="CswBookAPISoap12" binding="tns:CswBookAPISoap12">
      <soap12:address location="http://localhost:9000/Models/Books/CswBookAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>